.row h2{
	margin-top: 50px;
	text-align: center;
	color: #0d47a1;
}

#listFood{
	margin: 50px;
}

.btn-floating{
	position: absolute;
	transform: translate(-50%, -50%);
	left: 50%;
	right: 50%;
	margin: 30px auto 30px;
}

.row input[type=text]{
	height: 2rem;
	font-size: 1.5rem;
	padding-bottom: 10px;
}

form{
	margin: 60px auto 30px;
}

.row input[type=text]{
	height: 2rem;
	font-size: 1.5rem;
	padding-bottom: 10px;
}

a.btn{
	height: 50px;
	line-height: 50px;
	left: 50%;
	transform: translate(-50%, 0);
	font-weight: bold;
}

.deleteFood{
	cursor: pointer;
}

#listFood .card{
	background-color: #546e7a;
}

#listFood i{
	cursor: pointer;
}

table{
	margin: 40px auto 100px;
}

table td, th{
	text-align: center;
}

#sendFood{
	margin-bottom: 50px;
}