h1{
	text-align: center;
	font-weight: bold;
	color: #ee6e73;
}
p{
	font-size: 20px;
}
.row a{
	left: 50%;
	transform: translate(-50%, 0);
	font-weight: bold;
}
.row a, p, h1, input{
	margin-top: 60px;
	margin-bottom: 25px;
}
.btn{
	height: 50px;
	line-height: 50px;
}

.row input[type=text]{
	height: 2rem;
	font-size: 1.5rem;
	padding-bottom: 10px;
}

nav a{
	position: absolute;
	width: 40%;
	height: 100%;
}
img{
	width: 100%;
	transform: translate(-50%, -50%);
	position: absolute;
	top: 50%;
	left: 50%;
}

@media screen and (min-width:641px){ /* Tablet */
	nav a{
		position: absolute;
		width: 20%;
		height: 100%;
	}
	img{
		width: 100%;
		transform: translate(-50%, -50%);
		position: absolute;
		top: 50%;
		left: 50%;
	}
}

@media screen and (min-width:961px){ /* Desktop */
	nav a{
		position: absolute;
		width: 20%;
		height: 100%;
	}
	img{
		width: 50%;
		transform: translate(-50%, -50%);
		position: absolute;
		top: 50%;
		left: 50%;
	}
}

